/* עיצוב כללי של הניווט */
.navbar {
    background-color: #fffffffa; /* צבע רקע כהה */
    padding: 20px 0; 
    /* מרווח גדול יותר להדגשת הפס */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    position:relative;
    width: 100%;
    top: 0;
    z-index: 1000;
    height: 80px;
  }
  
  .navbar-list {
    list-style: none;
    display: flex;
    justify-content: space-around; /* פיזור אחיד של הקישורים */
    align-items: center;
    margin: 0;
    padding: 0;
   
  }
  
  .navbar-list li {
    margin: 0;
    position: relative; /* חשוב עבור האליפסה */
  }
  
  .navbar-link {
    text-decoration: none;
    color: #ac8346; /* צבע טקסט לבן */
    font-size: 24px; /* כתב גדול יותר */
    font-weight: bold;
    padding: 5px 15px;
    transition: color 0.3s, transform 0.3s;
  }
  
  .navbar-link:hover {
    color: #e4af5f; /* צבע טורקיז למעבר */
  }
  
  .navbar-list li::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    bottom: -10px;
    left: 50%;
    background-color: #e4af5f; /* צבע טורקיז */
    border-radius: 50%;
    transition: width 0.3s, height 0.3s, left 0.3s;
  }
  
  .navbar-list li:hover::after {
    width: 15px;
    height: 15px;
    left: calc(50% - 7.5px);
  }
  
  /* עיצוב למכשירים ניידים */
  @media (max-width: 768px) {
    .navbar-list {
      flex-direction: column;
    }
  
    .navbar-list li {
      margin: 15px 0;
    }
  
    .navbar {
      padding: 20px;
    }
  
    .navbar-link {
      font-size: 20px; /* כתב מעט קטן יותר למכשירים ניידים */
    }
  }
  
  .navbar-link:hover {
    color: #e4af5f;
  }
  
  .navbar-logo {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .logo-image {
    width: 150px; /* גודל הלוגו */
    height: 150px;
    border-radius: 50%; /* עיגול הלוגו */
    object-fit: cover;
    transition: transform 0.3s;
  }
  
  .logo-image:hover {
    transform: scale(1.1); /* הגדלה בעת ריחוף */
  }