
body {
    font-family: 'Calibri Light', sans-serif;
    font-size:x-large;
    /* background-color: rgb(195, 180, 160); */
  }

.order-page {
    padding: 20px;
    text-align: center;
}
.order-page h2{
    text-align: center;
}
.menu-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.menu-header h2 {
    margin: 0;
}

.search-bar {
    margin-left:30%;
    width: 50%; 
    padding: 15px;
    font-size: 18px;
    border: 1px solid #ddd;
    border-radius: 20px;
    background-color: #f5f5f5;
    transition: all 0.3s ease;
}

.search-bar:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(61, 43, 31, 0.5);
    background-color: #fff;
}

.content-wrapper {
    display: flex;
    justify-content: space-between;
}

.cart-summary {
    width: 30%;
    padding: 20px;
    background-color: #f9f9f9;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    align-items: center;
    text-align: center;
}

.cart-summary h3 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: right;
}

.cart-items {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.cart-item {
    background-color: #ffffff;
    padding: 15px;
    /* border-radius: 10px; */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    text-align: right;
    position: relative;
    display: flex;
    flex-direction: column;
    /* gap: 10px; */
}

.cart-item h4 {
    font-size: 28px;
    margin-bottom: 5px;
}

.cart-item p {
    margin: 0;
    font-size: 25px;
}

.cart-item-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.cart-item-actions button {
    background-color: #000000;
    border: none;
    color: white;
    font-size: 22px;
    cursor: pointer;
}

.cart-item-actions button:hover {
    background-color: #000000bb;
}

.cart-item-actions input {
    width: 50px;
    padding: 5px;
    font-size: 22px;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.total-price {
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
    text-align: right;
}

.checkout-button {
    background-color: #6bc2ac;
    color: white;
    padding: 15px;
    border: none;
    cursor: pointer;
    font-size: 18px;
    border-radius: 10px;
    width: 100%;
    margin-top: 20px;
    text-align: center;
}

.checkout-button:hover {
    background-color:  #6bc2acab;
}

.reset-order {
    background-color: #000000;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    font-size: 18px;
    border-radius: 10px;
    margin-top: 10px;
    text-align: center;
}

.reset-order:hover {
    background-color: #000000bb;
}

.menu-list {
    width: 65%;
    padding: 0 20px;
}

.menu-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.item-info {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 20px;
}

.item-info img.dish-image-order {
    width: 350px;
    height: auto;
    flex-shrink: 0;
    border-radius: 10px;
}

.item-description {
    direction: rtl;
    text-align: right;
    flex-grow: 1;
}

.add-to-cart {
    background-color: #000000;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    float: left;
    border-radius: 5px;
}

.add-to-cart:hover {
    background-color: #000000bb;
}

.category-navigation {
    width: 20%;
    padding: 20px;
    background-color: #f9f9f9;
    border-left: 1px solid #ddd;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.category-navigation h3 {
    margin-bottom: 10px;
}

.category-navigation ul {
    list-style-type: none;
    padding: 0;
}

.category-navigation ul li {
    padding: 10px 0;
    cursor: pointer;
    font-size: 24px;
}

.category-navigation ul li.active {
    font-weight: bold;
    color: #000000;
}

.edit-icon {
    position: absolute;
    top: 10px;
    right: 40px;
    cursor: pointer;
}

.delete-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

img {
    border-radius: 10px;
}
.header-container {
    margin-bottom: 15px;
    position: relative;
    width: 100%; /* רוחב מלא של העמוד */
    height: 30vh; /* גובה של 50% מגובה חלון הדפדפן */
    overflow: hidden; /* מחביא את החלקים של התמונה שיוצאים מגבולות הקונטיינר */
  }
  
  .header-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: auto;
    object-fit: cover;
  }
